.custom-navbar {
  position: relative;
}

.toggler-collapse-container {
  position: relative; 
  display: inline-block;
}

.navbar-toggler {
  border: none;
  padding: 0.5rem;
}

.overlay-collapse {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  white-space: nowrap;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.overlay-collapse.show {
  display: inline-block;
}

@media (min-width: 992px) {
  .overlay-collapse {
    position: static;
    display: flex;
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    backdrop-filter: none;
  }

  .overlay-collapse.show {
    display: flex;
  }
}

.overlay-nav {
  white-space: nowrap;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 1.25rem;
}

.navbar-nav .nav-link:hover {
  color: #000;
  background-color: #c8f9d4;
  border-radius: 0.25rem;
  font-weight: bold;
}

.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-navbar {
  background-color: #c8f9d4;
}

.custom-navbar .navbar-nav .nav-link {
  color: #000000 !important; 
}